{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<aside class="news-filter">
		<a href="{% url 'news' %}" class="news-filter__item "><i class="far fa-newspaper"></i>Все</a>
<!--		<a href="{ url 'popular' }" class="news-filter__item"><i class="fas fa-fire"></i>Популярные</a>-->
		<a href="#!" class="news-filter__item selectedFilter"><i class="far fa-clock"></i>Последние</a>
		<a href="{% url 'events' %}" class="news-filter__item"><i class="far fa-calendar-check"></i></i>События</a>
		<a href="#!" class="news-filter__item"><span class="iconify" data-inline="false" data-icon="twemoji:flag-for-flag-canada"></span>Канада</a>
		<a href="#!" class="news-filter__item"><span class="iconify" data-inline="false" data-icon="twemoji:flag-for-flag-japan"></span>Япония</a>
		<a href="#!" class="news-filter__item"><span class="iconify" data-inline="false" data-icon="twemoji:flag-for-flag-south-korea"></span>Корея</a>
		<a href="#!" class="news-filter__item"><span class="iconify" data-inline="false" data-icon="twemoji:flag-for-flag-switzerland"></span>Швейцаря</a>
		<a href="#!" class="news-filter__item"><span class="iconify" data-inline="false" data-icon="twemoji:flag-for-flag-russia"></span>Россия</a>
		<a href="#!" class="news-filter__item"><span class="iconify" data-inline="false" data-icon="twemoji:flag-for-flag-georgia"></span>Грузия</a>
		<a href="#!" class="news-filter__item"><span class="iconify" data-inline="false" data-icon="twemoji:flag-for-flag-czechia"></span>Чехия</a>
	</aside>
	<div class="aside-burger">
		<button class="btnAside">Фильтр</button>
	</div>
	<section class="news-list">
		<div class="container">
			<div class="news-list__body">

			{% for l in latest %}
				<a href="{{ l.get_absolute_url }}"><div class="news-item">
					<div class="news-item__info">
						{% autoescape off %}
						<h2>{{l.title}}</h2>
						<h4>{{l.content}}</h4>
						<p>{{l.time_add}} • {{l.time_read}}</p>
						{% endautoescape %}
					</div>
					<div class="news-item__photo">
						<img src="{{l.photo.url}}" alt="">
					</div>
				   </div>
				</a>
			{% endfor %}

			</div>
		</div>
	</section>
{% endblock %}