{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
	<section class="offices">
		<div class="container">
			<div class="offices__title">
				<h2>Наши офисы</h2>
			</div>
			<div class="offices__body">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1453.8284618852358!2d76.85132488201403!3d43.216684671832944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDPCsDEzJzAwLjEiTiA3NsKwNTEnMDguMiJF!5e0!3m2!1sru!2skz!4v1621234556628!5m2!1sru!2skz" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>
			<div class="offices__list">
				<div class="offices__list-item">
					<h3>Нур-Султан</h3>
					<p>ул.Сауран 46, Коворкинг центр Discovery Space</p>
					<p>+7 775 147 32 32</p>
				</div>
				<div class="offices__list-item">
					<h3>Алматы</h3>
					<p>Мамыр-4 мкр. 195</p>
					<p>+7 747 777 66 35</p>
				</div>
				<div class="offices__list-item">
					<h3>Шымкент</h3>
					<p>Казыбек Би 57</p>
					<p>+7 706 411 31 31</p>
				</div>
				<div class="offices__list-item">
					<h3>Атырау</h3>
					<p>Азаттык 26Б</p>
					<p>+7 747 140 14 97</p>
				</div>
				<div class="offices__list-item">
					<h3>Варшава</h3>
					<p>Bukowinska 22/104 02-703 Warsaw</p>
					<p>+48 574 065 718</p>
				</div>
				<div class="offices__list-item">
					<h3>Берлин</h3>
					<p>Wilmersdorfer str 122 10627 Berlin</p>
					<p>+49 176 618 120 29</p>
				</div>
			</div>
		</div>
	</section>
<hr>
{% endblock %}