{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    	<section class="ceo">
		<div class="container">
			<div class="ceo__title">
				<h2>Наш Директор</h2>
			</div>
			<div class="ceo__body">
				<div class="ceo__photo">
					<img src="{% static 'mainapp/img/CEO.PNG' %}" alt="">
				</div>
				<div class="ceo__text">
					<h4>Расширение возможностей студентов с помощью качественного образования в более широком масштабе - это миссия, которую мы выполняем в Nova Education!</h4>
					<p>Как директор NOVA Education, я имею честь быть частью образовательного сценария сегодня. Понимая конкурентную среду, мы стремимся предоставить отличные варианты обучения для личного роста и карьерного роста студентов, стремящихся учиться за границей. </p>
					<p>В развивающемся контексте глобальной экономики и сообщества наличие всемирно признанной степени, полученной из-за границы, обеспечивает светлое будущее, гарантирующее постоянно развивающийся карьерный профиль. Мы предоставляем жизненно важные услуги для поступления на популярные курсы премиум-класса и зарубежные учебные заведения. Мы предлагаем адаптируемый пакет услуг, который обеспечивает полную поддержку и руководство прямо на этапе подготовки к подаче заявки.</p>
					<p>Наша преданная своему делу и целеустремленная команда стремится к совершенству в области консультирования по вопросам образования за рубежом, и для меня большая честь быть лидером этой команды.</p>
					<p>Уделяя особое внимание качественному образованию, мы неуклонно идем по своему пути. Оказание помощи и помощи студентам в достижении достойных высот. Мы тесно сотрудничаем, чтобы помочь студентам воплотить в жизнь их академические мечты с помощью экономичного пакета и профессионального руководства. Мы с нетерпением ждем ответов на ваши вопросы и обеспечим эффективную помощь в получении образования за рубежом.</p>
					<h5>Ерден Шаймардан</h5>
					<h6>Директор</h6>
				</div>
			</div>
		</div>
	</section>
<hr>
<!-- <section class="team" style="background: #FFF;">
		<div class="container">
			<div class="team__title">
				<h2>Our Team</h2>
			</div>
			<div class="team__body" >
				<div class="team-slider swiper-container">
					<div class="team-slider__wrapper swiper-wrapper">
						<div class="team-slider__slide swiper-slide">
							<div class="team__item-inside">
								<img src="img/Davon.png" alt="" class="team__item-inside_image">
								<h3>Davon Lane</h3>
								<h4>founder, CEO</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<div class="team__item-inside_links">
									<a href="#"><img src="img/instagram purple.png" alt=""></a>
									<a href="#"><img src="img/twitter purple.png" alt=""></a>
									<a href="#"><img src="img/facebook purple.png" alt=""></a>
								</div>
							</div>
						</div>
						<div class="team-slider__slide swiper-slide">
							<div class="team__item-inside">
								<img src="img/Jane.png" alt="" class="team__item-inside_image">
								<h3>Jane Austin</h3>
								<h4>lead developer</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<div class="team__item-inside_links">
									<a href="#"><img src="img/instagram purple.png" alt=""></a>
									<a href="#"><img src="img/twitter purple.png" alt=""></a>
									<a href="#"><img src="img/facebook purple.png" alt=""></a>
								</div>
							</div>
						</div>
						<div class="team-slider__slide swiper-slide">
							<div class="team__item-inside">
								<img src="img/Fran.png" alt="" class="team__item-inside_image">
								<h3>Fran Kirby</h3>
								<h4>marketing executive</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<div class="team__item-inside_links">
									<a href="#"><img src="img/instagram purple.png" alt=""></a>
									<a href="#"><img src="img/twitter purple.png" alt=""></a>
									<a href="#"><img src="img/facebook purple.png" alt=""></a>
								</div>
							</div>
						</div>
						<div class="team-slider__slide swiper-slide">
							<div class="team__item-inside">
								<img src="img/Harry.png" alt="" class="team__item-inside_image">
								<h3>Harry Rednapp</h3>
								<h4>senior designer</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<div class="team__item-inside_links">
									<a href="#"><img src="img/instagram purple.png" alt=""></a>
									<a href="#"><img src="img/twitter purple.png" alt=""></a>
									<a href="#"><img src="img/facebook purple.png" alt=""></a>
								</div>
							</div>
						</div>
						<div class="team-slider__slide swiper-slide">
							<div class="team__item-inside">
								<img src="img/Fran.png" alt="" class="team__item-inside_image">
								<h3>Davon Lane</h3>
								<h4>director</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<div class="team__item-inside_links">
									<a href="#"><img src="img/instagram purple.png" alt=""></a>
									<a href="#"><img src="img/twitter purple.png" alt=""></a>
									<a href="#"><img src="img/facebook purple.png" alt=""></a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section> -->
{% endblock %}